{% extends "base.html" %}

{% block content %}
	<h2 class="title">{{ selected_day.month }} {{ selected_day.day }}, {{ selected_day.year }} - Events</h2>
	<p class="back"><button><a href="/calendar">Back to Calendar</a></button></p>
	
	{% for event in events %}
		<div class="table">
			<div class="postTop">
				<font color="{{ event.lid.color }}">
					{{ event.date|date:"g:i a" }}
					({{ event.lid.name }})
				</font>
				<strong>{{ event.event_name }}</strong>
				{% if event.location %}
					<span class="postDate"> - {{ event.location }}</span>
				{% endif %}
				<span class="postLinks">
					{% if not event.cid %}
						<button><a href="{{ event.eid }}">Edit</a></button> <button><a href="{{ event.eid }}/remove">Remove</a></button>
					{% endif %}
				</span>
			</div>
			<div class="postMiddle">
				<span class="postDate">Created by: {{ event.uid.user.first_name }} {{ event.uid.user.last_name }}
			</div>
			<div class="postBottom">
				{{ event.description }}
			</div>
		</div>
	{% endfor %}
	
{% endblock %}