{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendar.css">
{% endblock %}

{% block sidebar %}
	{% if flavour == "full" %}
		<h2 class="title">Announcements</h2>
		{% if globalAnnouncements.count > 0 %}
			{% for announcement in globalAnnouncements %}
				<div class="announceTitle">
					{{ announcement.cid.department }} {{ announcement.cid.class_number }}: {{ announcement.title }} 
					{% if announcement.isNew %}
						<img src="/static/images/new.png" alt="back"> 
					{% endif %}
				</div>
				<div class="announceContent">
					{{ announcement.content }}
				</div>
			{% endfor %}
		{% else %}
			<div class="announceContent">
				No announcements
			</div>
		
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}
	<h2 class="title">{{ selected_day.month }} {{ selected_day.day }}, {{ selected_day.year }} - Events</h2>
	<p class="back"><span class="linkButton"><a href="/calendar">Back to Calendar</a></span></p>
	
	{% for event in events %}
		<div class="table">
			<div class="postTop">
				<font color="{{ event.lid.color }}">
					{{ event.date|date:"g:i a" }}
					({{ event.lid.name }})
				</font>
				<strong>{{ event.event_name }}</strong>
				{% if event.location %}
					<span class="postDate"> - {{ event.location }}</span>
				{% endif %}
				<span class="postLinks">
					{% if not event.cid %}
						<span class="linkButton"><a href="{{ event.eid }}">Edit</a></span> <span class="linkButton"><a href="{{ event.eid }}/remove">Remove</a></span>
					{% endif %}
				</span>
			</div>
			<div class="postMiddle">
				<span class="postDate">Created by: {{ event.uid.user.first_name }} {{ event.uid.user.last_name }}
			</div>
			<div class="postBottom">
				{{ event.description }}
			</div>
		</div>
	{% endfor %}
	
{% endblock %}