{% extends "base.html" %}

{% block head %}
	<link type="text/css" href="{{ STATIC_URL }}css/timepicker.css" rel="Stylesheet" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
		
{% endblock %}

{% block content %}
	<script type="text/javascript">
		$(function() {
	    	$('#id_date').datetimepicker({
				dateFormat: "yy-mm-dd"
			});
		});
	</script>
	
	{% if update %}
		<h2 class="title">Update Event Form</h2>
		<p class="back"><button><a href="..">Back To Events</a></button></p>
	{% else %}
		<h2 class="title">Create New Event</h2>
		<p class="back"><button><a href="/calendar">Back to Calendar</a></button></p>
	{% endif %}
	
	<font color="red">{{ label_error }}</font>
	<form action="" method="POST">
		<div class="table">
		{% csrf_token %}
			{% for field in form %}
			<div class="fieldWrapper">
				<div class="fieldLeft">
					{% if 'Lid' in field.label_tag %}
						Label: 
					{% else %}
						{{ field.label_tag }}:
					{% endif %}
				</div>
					<div class="fieldRight">
						{{ field.errors }}
						{{ field }}
						
						{% if 'Lid' in field.label_tag %}
							{% if not update %}
								<input class="sideFieldButton" type="submit" name="create_label" value="Create Label">
								<input class="sideFieldButton" type="submit" name="update_label" value="Edit Label">
							{% endif %}
						{% endif %}
					</div>
			</div>
			{% endfor %}
			<div class="submit">
				{% if update %}
					<input type="submit" value="Update">
				{% else %}
					<input type="submit" value="Submit">
				{% endif %}
			</div>
		</div>
	</form>

{% endblock %}