{% extends "base.html" %}
{% if flavour == "mobile" %}
	
{% else %}
	{% block sidebar %}
	{% load calendar_extras %}
		{% if flavour == "full" %}
			<h2 class="title">Announcements</h2>
			{% if globalAnnouncements.count > 0 %}
				{% for announcement in globalAnnouncements %}
					<div class="announceTitle">
						{{ announcement.cid.department }} {{ announcement.cid.class_number }}: {{ announcement.title }} 
						{% if announcement.isNew %}
							<img src="/static/images/new.png" alt="back"> 
						{% endif %}
					</div>
					<div class="announceContent">
						{{ announcement.content }}
					</div>
				{% endfor %}
			{% else %}
				<div class="announceContent">
					No announcements
				</div>

			{% endif %}
		{% endif %}
		
	{% endblock %}
	
	{% block content %}
		{% load calendar_extras %}
		<div id="cal_header">
			<div id="cal_header_left">
				<span class="linkButton"><a href="event">Create New Event</a></span>
			</div>
			<div id="cal_header_right">
				<div id="head_date">
					<form action="" method="POST">
						{% csrf_token %}
						{% for field in form %}
							{{ field }} {{ field.errors }}
						{% endfor %}
						<input type="submit" name="change_month" value="Change Month">
						<input type="submit" name="prev_month" value="<<" />
						<input type="submit" name="next_month" value=">>" />
						<input type="hidden" name="curr_year" value="{{ year }}" />
						<input type="hidden" name="curr_month" value="{{ month.number }}" />
					</form>
				</div>
				<div id="head_month">
					<h1>{{ month.name }} {{ year }}</h1>
				</div>
			</div>
		</div>
		
	    <table id="cal_table" border="0" cellpadding="0" cellspacing="0">
	    	<tr id="weekdays">
	    		<td class="dayname">Sunday</td>
	    		<td class="dayname">Monday</td>
	    		<td class="dayname">Tuesday</td>
	    		<td class="dayname">Wednesday</td>
	    		<td class="dayname">Thursday</td>
	    		<td class="dayname">Friday</td>
	    		<td class="dayname">Saturday</td>
	    	</tr>
	    	{% for week in all_weeks %}
	    		<tr>
	    			{% for day in week %}
	    				{% if day == 0 %}
	    					<td class="day"></td>
	    				{% else %}
							{% if day in days_with_events %}
								<td class="day">
									<a href="/calendar/{{ year }}/{{ month.number }}/{{ day }}/">
										<div class="dayTop">
											{{ day }}
										</div>
										<div class="dayBottom">
											<ul>
												{% for event in days_with_events|get_key_value:day|get_key_value:'limit' %}
													<font color="{{ event.lid.color }}"><li>{{ event.event_name }}</li></font>
												{% endfor %}
												{% if days_with_events|get_key_value:day|get_key_value:'total' > 4 %}
													<li>. . .</li>
												{% endif %}
											</ul>
										</div>
									</a>
								</td>
							{% else %}
								<td class="day">
									{{ day }}
								</td>
							{% endif %}
	    				{% endif %}
	    			{% endfor %}
	    		</tr>
	    	{% endfor %}

	    </table> 
	{% endblock %}
{% endif %}
