{% extends "base.html" %}

{% block sidebar %}
	{% if flavour == "full" %}
		<h2 class="title">Announcements</h2>
		{% if globalAnnouncements.count > 0 %}
			{% for announcement in globalAnnouncements %}
				<div class="announceTitle">
					{{ announcement.cid.department }} {{ announcement.cid.class_number }}: {{ announcement.title }} 
					{% if announcement.isNew %}
						<img src="/static/images/new.png" alt="back"> 
					{% endif %}
				</div>
				<div class="announceContent">
					{{ announcement.content }}
				</div>
			{% endfor %}
		{% else %}
			<div class="announceContent">
				No announcements
			</div>
		
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}

	{% if update %}
		<h2 class="title">Update Label Form</h2>
	{% else %}
		<h2 class="title">Create New Label</h2>
	{% endif %}
	
	<p class="back"><span class="linkButton"><a href="/calendar/event">Back to Create New Event</a></span></p>
	
	<form action="" method="POST">
		<div class="table">
		{% csrf_token %}
			{% for field in form %}
			<div class="fieldWrapper">
				<div class="fieldLeft">
					{{ field.label_tag }}:
				</div>
					<div class="fieldRight">
						{{ field.errors }}
						{{ field }}
					</div>
			</div>
			{% endfor %}
			<div class="submit">
				<input type="submit" value="Submit">
			</div>
		</div>
	</form>

{% endblock %}