{% extends "base.html" %}

{% block content %}

	{% if update %}
		<h2 class="title">Update Label Form</h2>
	{% else %}
		<h2 class="title">Create New Label</h2>
	{% endif %}
	
	<p class="back"><button><a href="/calendar/event">Back to Create New Event</a></button></p>
	
	<form action="" method="POST">
		<div class="table">
		{% csrf_token %}
			{% for field in form %}
			<div class="fieldWrapper">
				<div class="fieldLeft">
					{{ field.label_tag }}:
				</div>
					<div class="fieldRight">
						{{ field.errors }}
						{{ field }}
					</div>
			</div>
			{% endfor %}
			<div class="submit">
				<input type="submit" value="Submit">
			</div>
		</div>
	</form>

{% endblock %}