{% extends "student/index.html" %}
{% block student %}
	{% if isCurrent %}
		<div id="bottomPosts">
		<h2 class="title">Assignments and Exams</h2>
		{% if activities.count > 0 %}
			{% for activity in activities %}
				<div id="table">
					<div id="actWrapper">
						<span id="actLeft">Activity Name: </span>
						<span id="actRight">{{ activity.activity_name }}</span>
					</div>
					<div id="actWrapper">
						<span id="actLeft">Out Of: </span>
						<span id="actRight">{{ activity.out_of }}</span>
					</div>
					<div id="actWrapper">
						<span id="actLeft">Worth: </span>
						<span id="actRight">{{ activity.worth }}%</span>
					</div>
					<div id="actWrapper">
						<span id="actLeft">Due Date: </span>
						<span id="actRight">{{ activity.due_date }}</span>
					</div>
					{% if activity.description %}
					<div id="actWrapper">
						<span id="actLeft">Description: </span>
						<span id="actRight">
							{{ activity.description|linebreaksbr }}
							{% if activity.description_doc %}
								<br />
								<a href="{{ MEDIA_URL }}{{ activity.description_doc }}" title="{{ activity.activity_name }}" target="_blank">View Description</a>
							{% endif %}
						</div>
					</div>
					{% else %}
						{% if activity.description_doc %}
							<div id="actWrapper">
								<span id="actLeft">Description: </span>
								<span id="actRight">
										<a href="{{ MEDIA_URL }}{{ activity.description_doc }}">View Description</a>
								</span>
							</div>
						{% endif %}
					{% endif %}
					<div id="actWrapper">
						<span id="actLeft">Status: </span>
						<span id="actRight">
							{% if activity.status == 0 %}
								Not Marked
							{% else %}
								{% if activity.status == 1 %}
									Marked but not released
								{% else %}
									Marked and released
								{% endif %}
							{% endif %}
						</span>
					</div>
					<div id="actWrapper">
						<span id="actLeft">Actions: </span>
						<span id="actRight">
							{% if activity.pastDue %}
								None
							{% else %}
								<span class="postLinks">
									<a href="{{ activity.aid }}/submission">Make Submission</a>
								</span>
							{% endif %}
						</span>
					</div>
					<div id="endAct"></div>
				</div>
			{% endfor %}
		{% else %}
			<div id="table">
				<p>There are no activities posted.</p>
			</div>
		{% endif %}
		</div>
	{% else %}
	 	<p>You are not currently enrolled in this class.</p>
	{% endif %}
{% endblock %}