{% extends "base.html" %}

{% block head %}
	<script type="text/javascript">
		$(document).ready(function() {
	    	$("#accordion").accordion();
	  	});
	</script>
{% endblock %}

{% if flavour == "mobile" %}
	{% block mobileNav %}
		{% if accessToStudent %}
			<ul class="studentNav">
				<li><a href="{{ classUrl }}">Course Home</a></li>
				<li><a href="{{ classUrl }}syllabus/">View Syllabus</a></li>
				{% if isCurrent %}
					<li><a href="{{ classUrl }}announcements">Announcements</a></li>
					<li><a href="{{ classUrl }}slides/">Lecture Slides</a></li>
					<li><a href="{{ classUrl }}quiz/">View Quizzes</a></li>
					<li><a href="{{ classUrl }}forum/">Discussion Board</a></li>
					<li><a href="{{ classUrl }}activities">Activities and Submissions</a></li>
				{% endif %}
				<li><a href="{{ classUrl }}grades">View Grades</a></li>

				{% if accessToInst %}
					<li><a href="{{ classUrl }}instructor"><strong>Go to Instructor View</strong></a></li>
				{% endif %}
			</ul>
		{% endif %}
	{% endblock %}
{% else %}
	{% block sidebar %}
		{% if accessToStudent %}
			<h2 class="title">{{ class.department }} {{class.class_number }} - Student</h2>
			<ul class="studentNav">
				<li><a href="{{ classUrl }}">Course Home</a></li>
				<li><a href="{{ classUrl }}syllabus/">View Syllabus</a></li>
				{% if isCurrent %}
					<li><a href="{{ classUrl }}announcements">Announcements</a></li>
					<li><a href="{{ classUrl }}slides/">Lecture Slides</a></li>
					<li><a href="{{ classUrl }}quiz/">View Quizzes</a></li>
					<li><a href="{{ classUrl }}forum/">Discussion Board</a></li>
					<li><a href="{{ classUrl }}activities">Activities and Submissions</a></li>
				{% endif %}
				<li><a href="{{ classUrl }}grades">View Grades</a></li>
			</ul>
			{% if accessToInst %}
				<div class="changeView">
					<span class="linkButton"><a href="{{ classUrl }}instructor">Go to Instructor View</a></span>
				</div>
			{% endif %}
			{% if isCurrent %}
				{% if flavour == "full" %}
					<h2 class="announce">Announcements</h2>
				
					{% if latestAnnouncements.count > 0 %}
						{% for announcement in latestAnnouncements %}
							<div class="announceTitle">
								{{ announcement.title }} 
								{% if announcement.isNew %}
									<img src="/static/images/new.png" alt="back" title="new"> 
								{% endif %}
							</div>
							<div class="announceContent">
								{{ announcement.content }}
							</div>
						{% endfor %}
					
						<div class="announceLink">
							<span class="linkButton"><a href="{{ classUrl }}announcements">View All</a></span>
							{% if accessToInst %}
								<span class="linkButton"><a href="{{classUrl }}instructor/announcement">Edit All</a></span>
							{% endif %}
						</div>
					{% else %}
						<div class="announceContent">
							No announcements
						</div>
						{% if accessToInst %}
							<div class="announceLink">
								<a href="{{classUrl }}instructor/announcement">Create One</a>
							</div>
						{% endif %}
					
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endblock %}
{% endif %}

{% block content %}
	{% if accessToStudent %}
		{% block student %}
			{% if isCurrent %}
				{% if flavour == "full" %}
					<h2 class="title">{{ class.department }} {{ class.class_number}} - {{ class.class_name }}</h2>
				{% else %}
					<h2 class="title">{{ class.department }} {{ class.class_number}}</h2>
				{% endif %}
				<div class="table">
					<h3 class="title">Welcome</h3>
					<div class="intro">{{ greeting|linebreaksbr }}</div>
					{% if accessToInst %}
						<p class="linkButton"><a href="instructor/edit">Edit Greeting</a></p>
					{% endif %}
				</div>
				<h2 class="title">Upcoming Events</h2>
				<div class="table">
					{% if upcomingActivity.count > 0 %}
						<div class="sylWrapper">
							<span class="sylLeft">Event Name</span>
							<span class="sylRight"> 
								<strong>Due In</strong>
							</span>
						</div>
						{% for event in upcomingActivity %}
							<div class="sylWrapper">
								<span class="sylLeft">{{ event.activity_name }}</span>
								<span class="sylRight"> 
									{{ event.due_date|timeuntil }}
								</span>
							</div>
						{% endfor %}
						<div class="endAct"></div>
					{% else %}
						There are no upcoming events for this class.
					{% endif %}
				</div>
			{% else %}
				<p>You are not currently enrolled in this class.</p>
			{% endif %}
		
		{% endblock %}
	{% else %}
		<p class="error">You are not enrolled in this class</p>
	{% endif %}
{% endblock %}
