{% extends "base.html" %}
{% if flavour == "mobile" %}
	{% block mobileNav %}
		{% if accessToStudent %}
			{% if flavour == "full" %}
				<h2 class="title">{{ class.department }} {{class.class_number }} - Student</h2>
			{% endif %}
			<ul class="studentNav">
				<li><a href="{{ classUrl }}">Course Home</a></li>
				<li><a href="{{ classUrl }}syllabus/">View Syllabus</a></li>
				{% if isCurrent %}
					<li><a href="{{ classUrl }}announcements">Announcements</a></li>
					<li><a href="{{ classUrl }}slides/">Lecture Slides</a></li>
					<li><a href="{{ classUrl }}activities">Assignments and Activities</a></li>
				{% endif %}
				<li><a href="{{ classUrl }}grades">View Grades</a></li>
				{% if accessToInst %}
					<li><a href="{{ classUrl }}instructor"><strong>Go to Instructor View</strong></a></li>
				{% endif %}
			</ul>
		{% endif %}
	{% endblock %}
{% else %}
	{% block sidebar %}
		{% if accessToStudent %}
			<h2 class="title">{{ class.department }} {{class.class_number }} - Student</h2>
			<ul class="studentNav">
				<li><a href="{{ classUrl }}">Course Home</a></li>
				<li><a href="{{ classUrl }}syllabus/">View Syllabus</a></li>
				{% if isCurrent %}
					<li><a href="{{ classUrl }}announcements">Announcements</a></li>
					<li><a href="{{ classUrl }}slides/">Lecture Slides</a></li>
					<li><a href="{{ classUrl }}activities">Assignments and Activities</a></li>
				{% endif %}
				<li><a href="{{ classUrl }}grades">View Grades</a></li>
				{% if accessToInst %}
					<li><a href="{{ classUrl }}instructor"><strong>Go to Instructor View</strong></a></li>
				{% endif %}
			</ul>
			{% if isCurrent %}
				{% if flavour == "full" %}
					<h2 class="announce">Announcements</h2>
				
					{% if latestAnnouncements.count > 0 %}
						{% for announcement in latestAnnouncements %}
							<div class="announceTitle">
								{{ announcement.title }}
							</div>
							<div class="announceContent">
								{{ announcement.content }}
							</div>
						{% endfor %}
					
						<div class="announceLink">
							<a href="{{ classUrl }}announcements">View All</a>
							{% if accessToInst %}
								| <a href="{{classUrl }}instructor/announcement">Edit All</a>
							{% endif %}
						</div>
					{% else %}
						<div class="announceContent">
							No announcements
						</div>
						{% if accessToInst %}
							<div class="announceLink">
								<a href="{{classUrl }}instructor/announcement">Create One</a>
							</div>
						{% endif %}
					
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endblock %}
{% endif %}

{% block content %}
	{% if accessToStudent %}
		{% block student %}
			{% if isCurrent %}
				{% if flavour == "full" %}
					<h2 class="title">Welcome to {{ class.department }} {{ class.class_number}} - {{ class.class_name }}</h2>
				{% else %}
					<h2 class="title">Welcome to {{ class.department }} {{ class.class_number}}</h2>
				{% endif %}
				<div class="table">
					<p class="intro">I would like to welcome you all to {{ class.department }} {{ class.class_number}}.  I look forward to this semester and I hope you all have fun and enjoy.</p>
				</div>
			{% else %}
				<p>You are not currently enrolled in this class.</p>
			{% endif %}
		
		{% endblock %}
	{% else %}
		<p class="error">You are not enrolled in this class</p>
	{% endif %}
{% endblock %}