{% extends "student/index.html" %}
{% block student %}
	{% if isCurrent %}
	<h2 class="title">Lecture Slides</h2>
		<div class="table">
			{% if slides.count > 0 %}
			<ul>
			{% for slide in slides %}
				<li><a href="{{ MEDIA_URL }}{{ slide.file_path }}" title="{{ slide.title }}" target="_blank">{{ slide.title }}</a></li>
			{% endfor %}
			</ul>
			{% else %}
				<p>There have been no lecture slides posted.</p>
			{% endif %}
		</div>
	</div> 
	{% else %}
		<p>You are not currently enrolled in this class.</p>
	{% endif %}
{% endblock %}
