{% extends "student/index.html" %}
{% block student %}
	<h2 class="title">Course Syllabus</h2>
	{% if syllabus %}
		{% if instructors.count > 0 %}
			<h3 class="title">Instructors</h3>
			<div class="table">
				{% for instructor in instructors %}	
					<div class="sylWrapper">
						<span class="sylLeft">Name: </span>
						<span class="sylRight">{{ instructor.user.first_name }} {{ instructor.user.last_name }}</span>
					</div>
					<div class="sylWrapper">
						<span class="sylLeft">Email: </span>
						<span class="sylRight">{{ instructor.user.email }}</span>
					</div>
					<div class="sylWrapper">
						<span class="sylLeft">Office Hours: </span>
						<span class="sylRight">{{ syllabus.officeHrs }}</span>
					</div>
					<div class="sylWrapper">
						<span class="sylLeft">Office Location: </span>
						<span class="sylRight">{{ syllabus.officeLocation }}</span>
					</div>
					<div class="endAct"></div>
					{% if not forloop.last %}
						<br />
					{% endif %}
				{% endfor %}		
			</div>
		{% endif %}
		{% if tas.count > 0 %}
			<h3 class="title">Teaching Assistants</h3>	
			<div class="table">
				{% for ta in tas %}	
					<div class="sylWrapper">
						<span class="sylLeft">Name: </span>
						<span class="sylRight">{{ ta.user.first_name }} {{ ta.user.last_name }}</span>
					</div>
					<div class="sylWrapper">
						<span class="sylLeft">Email: </span>
						<span class="sylRight">{{ ta.user.email }}</span>
					</div>
					<div class="sylWrapper">
						<span class="sylLeft">Office Hours: </span>
						<span class="sylRight">{{ syllabus.TaOfficeHrs }}</span>
					</div>
					<div class="sylWrapper">
						<span class="sylLeft">Office Location: </span>
						<span class="sylRight">{{ syllabus.TaOfficeLocation }}</span>
					</div>
					<div class="endAct"></div>
					{% if not forloop.last %}
						<br />
					{% endif %}
				{% endfor %}		
			</div>
		{% endif %}
		<h3 class="title">Class Information</h3>	
		<div class="table">
			<div class="sylWrapper">
				<div class="sylLeft">Lecture Time: </div>
				<div class="sylRight">{{ syllabus.lectTime|linebreaksbr }}</div>
			</div>
			<div class="sylWrapper">
				<div class="sylLeft">Prerequisites: </div>
				<div class="sylRight">{{ syllabus.prereq|linebreaksbr }}</div>
			</div>
			<div class="sylWrapper">
				<div class="sylLeft">Books: </div>
				<div class="sylRight">{{ syllabus.books|linebreaksbr }}</div>
			</div>
			<div class="sylWrapper">
				<div class="sylLeft">Topics: </div>
				<div class="sylRight">{{ syllabus.topics|linebreaksbr }}</div>
			</div>
			<div class="sylWrapper">
				<div class="sylLeft">Marking Scheme: </div>
				<div class="sylRight">{{ syllabus.markingScheme|linebreaksbr }}</div>
			</div>
			<div class="sylWrapper">
				<div class="sylLeft">Academic Honesty: </div>
				<div class="sylRight">{{ syllabus.academicHonesty|linebreaksbr }}</div>
			</div>
			<div class="sylWrapper">
				<div class="sylLeft">Additional Information: </div>
				<div class="sylRight">{{ syllabus.additionalInfo|linebreaksbr }}</div>
			</div>
			<div class="endAct"></div>
		</div>
		<p class="time"><strong>Created:</strong> {{ syllabus.created_on }}</p>
		{% if syllabus.was_updated %}
			<p class="time"><strong>Last Updated:</strong> {{ syllabus.updated_on }}</p>
		{% endif %}
	{% else %}
		<div class="table">
			<p>{{ message }}</p>
		</div>
	{% endif %}
{% endblock %}