<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>SFU Synergy Online Learning</title>
	<meta charset='utf-8'> 
	{% if flavour == "full" %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fields.css">
	{% else %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mobile.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mobileFields.css">
	{% endif %}
	<link rel="icon" href="{{ STATIC_URL}}images/favicon.gif" type="image/gif">
	<link type="text/css" href="{{ STATIC_URL }}css/blitzer/jquery-ui-1.8.18.custom.css" rel="Stylesheet" /> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
	<script>
		$(function() {
			$( "input:submit, button", "#container" ).button();
			$( "a", ".linkButton" ).button();
		});
	</script>
	{% block head %}{% endblock %}
</head>
<body>
<div id="container">
	<div id="header">
	{% if flavour == "mobile" %}
		<span class="logo">SFU Synergy Online</span><br>
		<span class="subLogo">Engaging the World</span>
	{% endif %}
	</div>
	<div id="navigation">
		<ul>
			<li><a href="/">Home</a></li>
			{% if user.is_authenticated %}
				{% if flavour == "full" %}
					{% for course in class_list %}
						<li>
							<a href="/course/{{ course.department }}/{{ course.class_number }}/{{ course.year }}/{{ course.semester }}/{{ 				course.section }}/">{{ course.department }} {{ course.class_number }}</a>
						</li>
					{% endfor %}
				{% endif %}
				<li><a href="/calendar">Calendar</a></li>
				<li><a href="/accounts/settings">Settings</a></li>
				<li><a href="/accounts/logout">Logout</a></li>
			{% endif %}
		</ul>
		{% if user.is_authenticated  and flavour == "full" %}
				<span class="greeting">Welcome {{ user.first_name }} {{ user.last_name }} ({{ user.userprofile.sfu_id }})</span>
		{% endif %}
	</div>
	<div id="content-container">
		{% if flavour == "full" %}
			<div id="sidebar">
				{% if user.is_authenticated %}
					{% block sidebar %}{% endblock %}
				{% endif %}
			</div>
		{% else %}
			<div id="innerNav">
				{% if user.is_authenticated %}
					{% block mobileNav %}{% endblock %}
				{% endif %}
		{% endif %}
		
		<div id="content">
			{% block reset %}
				{% if user.is_authenticated %}
					{% if user.is_active %}
						{% block content %}{% endblock %}
					{% else %}
						<p>Your account is not active!</p>
					{% endif %}
				{% else %}
					<h2 class="title">SFU Synergy Online</h2>
					{% if message %}
						<div id="loginFail">
							<h4 class="error">Invalid Login</h4>
							<p class="error">{{ message }}</p>
						</div>
					{% endif %}
					{% include "registration/login.html" %}
				{% endif %}
			{% endblock %}
		</div>
		<div id="footer">
			{% if flavour == "full" %}
				Made by Intrinsic Team 12 | Created by: Kevin Mann, Derek Fong, Allison Ng
				<a href="?flavour=mobile">View Mobile Site</a>
			{% else %}
				<a href="?flavour=full">View Full Site</a>
				Made by Intrinsic Team - Group 12 - 2012
			{% endif %}
		</div>
	</div>
</div>
</body>
</html>
