html, body {
	background: #A7A8A0;
	color: #323232;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;f
}

#container
{
	margin: 0 auto;
	width:  1030px;
	background: #fff;
	height: 100%;
}

#header
{
	background-image:url('/static/images/sol_logo.png');
	background-repeat: no-repeat;
	position: relative;
	display: block;
	background-color: #B5111A; 
	height: 150px;
}

#logoPlacer1 {
	float: left;
}


#logoPlacer2 {
	float: right;
}

#logoPlacerBottom {
	position: absolute;
	display: block;
	bottom: 3px;
	right: 10px;
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

.greeting
{
	display: block;
	float: right;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}

#content-container
{
	float: left;
	width: 100%;
	background: #CDCDC6;
}

#sidebar
{
	clear: left;
	float: left;
	width: 230px;
	padding: 10px;
}

#content
{
	float: right;
	width: 760px;
	padding: 10px;
	height: 100%;
	background: #FFFFFF;
	min-height: 450px;
}

#footer
{
	background-color: #BBBBBB;
	font-size: 12px;
	padding: 8px;
	height: 14px;
	clear: both;
	bottom: 0;
	width: 1014px;
}

#visualization
{
	font-size: 8px;
}

h3.title
{
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
}

h3.setting
{
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
}

h2.title
{
	padding: 0;
	margin: 10px 5px 5px 0 ;
}

a 
{
	text-decoration: none;
	color: #0a7ed7;
}

a:hover 
{
	text-decoration: underline;
}

.time
{
	font-size: 12px;
	padding: 0px;
	margin: 10px;
}

#loginFail
{
	background: #edc1c1;
	border: 1px solid red;
	margin-bottom: 10px;
	padding-left: 10px;
}

h4.error, p.error
{
	margin: 0px;
	padding: 5px 0 5px 0;
}

p.error
{
	padding-bottom: 10px;
}

#updateSuccess
{
	background: #d0f4d0;
	border: 1px solid green;
	margin-bottom: 10px;
	padding-left: 10px;
}

h4.success, p.success
{
	margin: 0px;
	padding: 5px 0 5px 0;
}

p.success
{
	padding-bottom: 10px;
}

.postDate
{
	font-size: 12px;
}
