html, body {
	background: #A7A8A0;
	color: #323232;
	font-family: 'Gudea', sans-serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#container
{
	margin: 0 auto;
	width:  1030px;
	height: 100%;
}

#header
{
	background-image:url('/static/images/sol_logo.png');	
	background-repeat: no-repeat;
	position: relative;
	display: block;
	background-color: #B5111A; 
	height: 150px;
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
	background-image: url('/static/images/navbg.png');
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 8px 13px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #8a8a8a;
}

#navigation li a:hover
{
	color: #0a7ed7;
}

.greeting
{
	display: block;
	float: right;
	padding: 8px 13px;
	color: #fff;
	text-decoration: none;
}

#content-container
{
	float: left;
	width: 100%;
	background: #CDCDC6;
	background-image: url('/static/images/sidebg.png');
	background-position: left;
}

#sidebar
{
	clear: left;
	float: left;
	width: 230px;
	padding: 10px 15px 15px 15px;
}

#content
{
	float: right;
	width: 739px;
	padding: 10px 15px 15px 15px;
	bottom: 0px;
	top: 0px;
	height: 100%;
	min-height: 561px;
	background: #FFFFFF;
	border-left: 1px solid #bbbbb9;
}

#footer
{
	background-color: #BBBBBB;
	border-top: 1px solid #e9e9e9;
	font-size: 12px;
	padding: 8px;
	height: 14px;
	clear: both;
	bottom: 0;
	width: 1014px;
}

#visualization
{
	font-size: 8px;
}

h3.title
{
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
}

h3.setting
{
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
}

h2.title
{
	padding: 0;
	margin: 10px 5px 5px 0 ;
}

a 
{
	text-decoration: none;
	color: #0a7ed7;
}

a:hover 
{
	text-decoration: underline;
}

.time
{
	font-size: 12px;
	padding: 0px;
	margin: 10px;
}

#loginFail, .wrongAnswer, .wrongAnswerAttempt 
{
	background: #edc1c1;
	border: 1px solid red;
	margin-bottom: 10px;
	padding-left: 10px;
}

h4.error, p.error
{
	margin: 0px;
	padding: 5px 0 5px 0;
}

p.error
{
	padding-bottom: 10px;
}

#updateSuccess, .rightAnswer, .rightAnswerAttempt 
{
	background: #d0f4d0;
	border: 1px solid green;
	margin-bottom: 10px;
	padding-left: 10px;
}

.rightAnswerAttempt , .wrongAnswerAttempt
{
	width: 90%;
}

#updateFailure
{
	background: #edc1c1;
	border: 1px solid red;
	margin-bottom: 10px;
	padding-left: 10px;
}

h4.success, p.success
{
	margin: 0px;
	padding: 5px 0 5px 0;
}

p.success
{
	padding-bottom: 10px;
}

.postDate
{
	font-size: 12px;
}

.progress
{
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
	float: right;
	padding-right: 10px;
}

.completed
{
	clear: both;
	padding-top: 5px;
}

.backNav
{
	height
}

h3.accordionTitle
{
	padding: 10px 0 0 25px;
}

#container button
{
	margin: 0;
	font-size: 11px;
	padding: 0;
}

.changeView
{
	margin-left: 20px;
}

.forgotpass
{
	padding-left: 10px;
}

.qName
{
	padding: 10px 0 10px 0;
	margin-top: 0px;
	font-weight: bold;
}

.linkButton a
{
	font-size: 11px;
}

.grades table, tr, td
{
	border: 0px;
}

.grades table
{
	width: 700px;
}
