.table 
{
	border: 1px solid #c8c8c8;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}

.fieldWrapper, .actWrapper, .rosterWrapper, .sylWrapper
{
	float: left;
	padding-bottom: 10px;
}

.fieldWrapper, .actWrapper
{
	width: 700px;
}

.rosterWrapper
{
	width: 650px;
}

.fieldLeft, .actLeft, .rosterLeft, .sylLeft, .fieldSylLeft
{
	clear: left;
	float: left;
	font-weight: bold;
}

.sylLeft
{
	width: 175px;
}
.rosterLeft
{
	width: 75px;
}

.fieldLeft, .actLeft, .fieldSylLeft
{
	width: 125px;
}

.fieldLeft
{
	padding-top: 5px;
}

.fieldRight, .actRight, .fieldSylRight
{
	float: right;
	width: 575px;
}

.sylRight
{
	float: right;
	width: 525px;
}

ul.errorlist {
	list-style-type: none;
	color: red;
	padding: 0;
	margin: 0;
}

.fieldRight input, .fieldRight textarea
{
	border: 1px solid #c8c8c8;
	font-size: 12px;
	padding: 3px;
	width: 300px;
}

.fieldSylRight input, .fieldSylRight textArea
{
	border: 1px solid #c8c8c8;
	font-size: 12px;
	padding: 3px;
	width: 500px;
} 

.submit, .endAct
{
	clear: both;
}

.submit
{
	padding-top: 10px;
	padding-left: 125px;
}

.bottomPosts
{
	padding-top: 10px;
	clear: both;
}

.postWrapper
{
	padding: 10px 0 5px 0;
}

.postLinks a
{
	font-size: 12px;
	text-decoration: none;
	padding: 0px;
}

.postTop
{
	font-size: 15px;
}

.postMiddle
{
	font-size: 12pt;
	padding-top: 5px;
	padding-left: 25px;
}

.postBottom
{
	padding: 5px 0 10px 25px;
}

.edit
{
	font-size: 10px;
}

.announceTitle
{
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
}

.announceContent
{
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 12px;
}

h2.announce
{
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
	padding-top: 15px;
}

.announceLink
{
	font-size: 12px;
	padding-left: 10px;
}

input.grade
{
	border: 1px solid #c8c8c8;
}

#cal_header
{
	width: 100%;
	padding: 15px 0 5px 0;
}

#cal_header_left
{
	float: left;
	padding-left: 5px;
}

#cal_header_right input, #cal_header_left button

{
	font-size: 11px;
}

#cal_header_right
{
	float: right;
	
}

#head_date
{
	float: left;
	padding-right: 15px;
}

#head_month
{
	float: right;
	padding-right: 5px;
}

#head_month h1
{
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}

#cal_table
{
	table-layout: fixed;
	width: 760px;
	height: 500px;
	border: 1px solid #A7A8A0;
	border-collapse: collapse;
}

td.dayname
{
	height: 50px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #D0D0D0;
}

td.day
{
	height: 100px;
	width: 109px;
	vertical-align: top;
	border: 1px solid #D0D0D0;
	padding: 2px;
}

td.day a
{
	text-decoration: none;
	color: #323232;
}

#weekdays
{
	background-color: #C80003;
	color: white;
}

div.dayTop
{
	font-weight: bold;
	float: left;
	width: 104px;
	height: 20px;
}

div.dayBottom
{
	font-weight: bold;
	float: left;
	width: 104px;
	height: 80px;
}

div.dayBottom ul
{
	font-size: 9pt;
	display: inline;
}

div.dayBottom li
{
	margin-left: 20px;
}

input.sideFieldButton
{
	font-size: 11px;
	text-align: center;
	width: 90px;
} 

#sidebar_cal_table {
	table-layout: fixed;
	font-size: 8pt;
	width: 100%;
	border: 1px solid #a9a9a9;
	border-collapse: collapse;
	background: white;
}

td.sidebar_dayname {
	height: 25px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

td.sidebar_day {
	height: 38px;
	width: 70px;
	vertical-align: top;
	border: 1px dashed #ececec;
	padding: 3px 0 0 5px;
}

td.sidebar_day a {
	text-decoration: none;
	color: #323232;
}

div.sidebar_dayTop {
	font-weight: bold;
	float: left;
	width: 26px;
	height: 10px;
}


div.sidebar_dayBottom {
	font-weight: bold;
	float: left;
	width: 26px;
	height: 28px;
}

div.sidebar_dayBottom ul {
	font-size: 9pt;
	display: inline;
}

div.sidebar_dayBottom li {
	margin-left: 18px;
}

div.sidebar_event {
	float: left;
	font-weight: bold;
	margin-bottom: 3px;
	width: 13px;
	height: 12px;
}

.quizQ input
{
	border: 1px solid #c8c8c8;
	font-size: 12px;
	padding: 3px;
	width: 500px;
}

