.rosterLeft, .sylLeft, .actLeft, .fieldSylLeft
{
	clear: left;
	font-weight: bold;
}
.endAct
{
	clear: both;
}

label 
{
	font-weight: bold;
}

.gradeMark input
{
	width: 100px;
	padding: 5px;
}

input, textarea
{
	font-size: 36px;
	border: 1px solid gray;
	width: 100%;
	padding: 20px 0 20px 0;
	margin-bottom: 30px;
}





