{% extends "base.html" %}
{% block content %}
	<h1>Welcome to SFU Synergy Online!</h1>
	<h2>Global Announcements</h2>
	<ul>
		<li>Set courses so that it only displays current course, and disable access to old (except grades)</li>
		<li>Create model for course content (syllabus)</li>
		<li>Create Contact Us to learn email feature</li>
		<li>Announcements read</li>
		<li>Settings (opt-in notification emails)</li>
	</ul>
	<h2>Current Courses</h2>
	<ul>
	{% for course in class_list %}
		<li><a href="/course/{{ course.department }}/{{ course.class_number }}/{{ course.year }}/{{ course.semester }}/{{ 				course.section }}/">
			{{ course.department }}{{ course.class_number }} {{course.section}} - {{ course.class_name }}
		</a></li>
	{% endfor %}
	</ul>
	<h2>Past Course Grades</h2>
	<p>View Old Grades</p>
	<h2>Calendar</h2>
	<img src="{{ STATIC_URL }}images/monthpage.gif">
{% endblock %}