{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendar.css">
	<script type="text/javascript">
		$(document).ready(function() {
	    	$("#accordion").accordion();
	  	});
	</script>
{% endblock %}

{% block sidebar %}
	{% load calendar_extras %}
	{% if flavour == "full" %}
		<h2 class="title">Announcements</h2>
		{% if globalAnnouncements.count > 0 %}
			<div class="sideAnnounce">
			{% for announcement in globalAnnouncements %}
				<div class="announceTitle">
					{{ announcement.cid.department }} {{ announcement.cid.class_number }}: {{ announcement.title }} 
					{% if announcement.isNew %}
						<img src="/static/images/new.png" alt="back" title="new"> 
					{% endif %}
				</div>
				<div class="announceContent">
					{{ announcement.content }}
				</div>
			{% endfor %}
			</div>
		{% else %}
			<div class="announceContent">
				No announcements
			</div>
		
		{% endif %}
	{% endif %}
	
	{% if not no_cal %}
		<h2 class="title">{{ month.name }} {{ year }}</h2>
	    <table id="sidebar_cal_table" border="0" cellpadding="0" cellspacing="0">
	    	<tr id="weekdays">
	    		<td class="sidebar_dayname">S</td>
	    		<td class="sidebar_dayname">M</td>
	    		<td class="sidebar_dayname">T</td>
	    		<td class="sidebar_dayname">W</td>
	    		<td class="sidebar_dayname">T</td>
	    		<td class="sidebar_dayname">F</td>
	    		<td class="sidebar_dayname">S</td>
	    	</tr>
	    	{% for week in all_weeks %}
	    		<tr>
	    			{% for day in week %}
	    				{% if day == 0 %}
	    					<td class="sidebar_day"></td>
	    				{% else %}
							{% if day in days_with_events %}
								<td class="sidebar_day">
									<a href="/calendar/{{ year }}/{{ month.number }}/{{ day }}">
										<div class="sidebar_dayTop">
											{{ day }}
										</div>
										<div class="sidebar_dayBottom">
											<ul>
												{% for event in days_with_events|get_key_value:day|get_key_value:'limit' %}
													<div class="sidebar_event">
														<font color="{{ event.lid.color }}"><li></li></font>
													</div>
												{% endfor %}
											</ul>
										</div>
									</a>
								</td>
							{% else %}
								<td class="sidebar_day">
									{{ day }}
								</td>
							{% endif %}
	    				{% endif %}
	    			{% endfor %}
	    		</tr>
	    	{% endfor %}
	    </table>
	{% endif %}
{% endblock %}

{% block content %}
	{% if flavour == "full" %}
		<h2 class="title">Welcome to Synergy Online</h2>
	{% endif %}
	
	<div id="accordion">
		<h3 class="accordionTitle">View Current Courses</h3>
		<div>
			{% if class_list.count > 0 %}
				{% if flavour == "full" %}
					<ul>
					{% for course in class_list %}
						<li>
							<a href="/course/{{ course.department }}/{{ course.class_number }}/{{ course.year }}/{{ course.semester }}/{{ 				course.section }}/">
							{{ course.department }} {{ course.class_number }} {{course.section}} - {{ course.class_name }}
						</a></li>
					{% endfor %}
				{% else %}
					<ul class="studentNav">
					{% for course in class_list %}
						<li><a href="/course/{{ course.department }}/{{ course.class_number }}/{{ course.year }}/{{ course.semester }}/{{ 				course.section }}/">
							{{ course.department }} {{ course.class_number }} {{course.section}}
						</a></li>
					{% endfor %}
				{% endif %}
				</ul>
			{% else %}
				<p>You are not enrolled in any classes this semester.</p>
			{% endif %}
		</div>
		<h3 class="accordionTitle">View Past Course Grades</h3>
		<div>
			{% if old_class_list.count > 0 %}
				{% if flavour == "full" %}
					<ul>
					{% for course in old_class_list %}
						<li><a href="/course/{{ course.department }}/{{ course.class_number }}/{{ course.year }}/{{ course.semester }}/{{ 				course.section }}/">
							{{ course.department }} {{ course.class_number }} {{course.section}} - {{ course.class_name }}
						</a>(<strong>{{ course.semester }} {{ course.year }}</strong>)</li>
					{% endfor %}
				{% else %}
					<ul class="studentNav">
					{% for course in old_class_list %}
						<li><a href="/course/{{ course.department }}/{{ course.class_number }}/{{ course.year }}/{{ course.semester }}/{{ 				course.section }}/">
							{{ course.department }} {{ course.class_number }} {{course.section}}
						</a>(<strong>{{ course.semester }} {{ course.year }}</strong>)</li>
					{% endfor %}
				{% endif %}
				</ul>
			{% else %}
				<ul class="studentNav">
					<li>You have no past classes.</li>
				</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}