{% extends "base.html" %}

{% block head %}
	<script type="text/javascript">
		function closeMessage(){
			document.getElementById("updateSuccess").style.display="none";
		}
	
		window.setTimeout( closeMessage, 5000 );
	</script>
{% endblock %}

{% block sidebar %}
	{% load calendar_extras %}
	{% if flavour == "full" %}
		<h2 class="title">Announcements</h2>
	
		{% if globalAnnouncements.count > 0 %}
			{% for announcement in globalAnnouncements %}
				<div class="announceTitle">
					{{ announcement.cid.department }} {{ announcement.cid.class_number }}: {{ announcement.title }} 
					{% if announcement.isNew %}
						<img src="/static/images/new.png" alt="back"> 
					{% endif %}
				</div>
				<div class="announceContent">
					{{ announcement.content }}
				</div>
			{% endfor %}
		{% else %}
			<div class="announceContent">
				No announcements
			</div>
		
		{% endif %}
	{% endif %}
	
	<p><strong>{{ month.name }} {{ year }}</strong></p>
    <table id="sidebar_cal_table" border="0" cellpadding="0" cellspacing="0">
    	<tr id="weekdays">
    		<td class="sidebar_dayname">S</td>
    		<td class="sidebar_dayname">M</td>
    		<td class="sidebar_dayname">T</td>
    		<td class="sidebar_dayname">W</td>
    		<td class="sidebar_dayname">T</td>
    		<td class="sidebar_dayname">F</td>
    		<td class="sidebar_dayname">S</td>
    	</tr>
    	{% for week in all_weeks %}
    		<tr>
    			{% for day in week %}
    				{% if day == 0 %}
    					<td class="sidebar_day"></td>
    				{% else %}
						{% if day in days_with_events %}
							<td class="sidebar_day">
								<a href="/calendar/{{ year }}/{{ month.number }}/{{ day }}">
									<div class="sidebar_dayTop">
										{{ day }}
									</div>
									<div class="sidebar_dayBottom">
										<ul>
											{% for event in days_with_events|get_key_value:day|get_key_value:'limit' %}
												<div class="sidebar_event">
													<font color="{{ event.lid.color }}"><li></li></font>
												</div>
											{% endfor %}
										</ul>
									</div>
								</a>
							</td>
						{% else %}
							<td class="sidebar_day">
								{{ day }}
							</td>
						{% endif %}
    				{% endif %}
    			{% endfor %}
    		</tr>
    	{% endfor %}
    </table>
	
{% endblock %}

{% block content %}
	<h2 class="title">Account Settings</h2>
	{% if message %}
		<div id="updateSuccess">
			<h4 class="success">Updated Successfully</h4>
			<p class="success">{{ message }}</p>
		</div>
	{% endif %}
	<div class="table">
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				Name: 
			</span>
			<span class="fieldSylRight">
				{{ user.first_name }} {{ user.last_name }}
			</span>
		</div>
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				User: 
			</span>
			<span class="fieldSylRight">
				{{ user.username }}
			</span>
		</div>
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				SFU ID: 
			</span>
			<span class="fieldSylRight">
				{{ user.userprofile.sfu_id}}
			</span>
		</div>
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				Email: 
			</span>
			<span class="fieldSylRight">
				{{ user.email }}
			</span>
		</div>
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				Password: 
			</span>
			<span class="fieldSylRight">
				<span class="linkButton"><a href="/accounts/password/change/">Change Password</a></span>
			</span>
		</div>
		
		<div class="bottomPosts">
			<h3 class="setting">Email Notifications</h3>
			<form action="" method="POST">
				{% csrf_token %}
				{% for field in form %}
					<div class="fieldWrapper">
						<span class="fieldSylLeft">
							{{ field.label_tag }}: 
						</span>
						<span class="fieldSylRight">
							{{ field.errors }}
							{{ field }}
						</span>
					</div>
				{% endfor %}
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
{% endblock %}