{% extends "base.html" %}

{% block head %}
	<script type="text/javascript">
		function closeMessage(){
			document.getElementById("updateSuccess").style.display="none";
		}
	
		window.setTimeout( closeMessage, 5000 );
	</script>
{% endblock %}

{% block content %}
	<h2 class="title">Account Settings</h2>
	{% if message %}
		<div id="updateSuccess">
			<h4 class="success">Updated Successfully</h4>
			<p class="success">{{ message }}</p>
		</div>
	{% endif %}
	<div class="table">
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				User: 
			</span>
			<span class="fieldSylRight">
				{{ user.username }}
			</span>
		</div>
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				SFU ID: 
			</span>
			<span class="fieldSylRight">
				{{ user.userprofile.sfu_id}}
			</span>
		</div>
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				Email: 
			</span>
			<span class="fieldSylRight">
				{{ user.email }}
			</span>
		</div>
		
		<div class="bottomPosts">
			<h3 class="setting">Email Notifications</h3>
			<form action="" method="POST">
				{% csrf_token %}
				{% for field in form %}
					<div class="fieldWrapper">
						<span class="fieldSylLeft">
							{{ field.label_tag }}: 
						</span>
						<span class="fieldSylRight">
							{{ field.errors }}
							{{ field }}
						</span>
					</div>
				{% endfor %}
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
{% endblock %}