	{% if form.errors %}
		<p class="error">Oops, invalid username or password</p>
	{% endif %}
	<div id="login">
	<form action="/accounts/login/" method="POST">
		{% csrf_token %}
		<label for="username">Username:</label>
		<input type="text" name="username" value="" id="username" class="loginInput">
		<br />
		<label for="password">Password:</label>
		<input type="password" name="password" value="" id="password" class="loginInput">
		<br />
		<input type="submit" value="Login" />
		<input type="hidden" name="next" value="/" />
	</form>
	</div>
