	{% if form.errors %}
		<p class="error">Oops, invalid username or password</p>
	{% endif %}
	<div class="login">
		<div class="table">			
			<form action="/accounts/login/" method="POST">
				{% csrf_token %}
				
				<div class="fieldWrapper">
					<div class="fieldLeft">
						<label for="username">Username:</label>
					</div>
					<div class="fieldRight">
						<input type="text" name="username" value="" id="username" class="loginInput">
					</div>
				</div>
				<div class="fieldWrapper">
					<div class="fieldLeft">
						<label for="password">Password:</label>
					</div>
					<div class="fieldRight">
						<input type="password" name="password" value="" id="password" class="loginInput">
					</div>
				</div>
				<input type="submit" value="Login" />
				<input type="hidden" name="next" value="" />
			</form>
			<div class="endAct"></div>
		</div>
		<div class="forgotpass"><strong>Forgot Password?</strong> <a href="/accounts/password/reset/">Reset your password</a></div>
	</div>
