{% extends 'base.html' %}

{% block content %}
	
	<div clas="login">
		<h2 class="title">Change Password</h2>
		<div class="table">
			{% if form.errors %}
				<div id="loginFail">
					<h4 class="error">Invalid Password</h4>
					<p class="error">You entered an invalid password.</p>
				</div>
			{% endif %}
			<form action="/accounts/password/change/" method="POST">
				{% csrf_token %}
				<div class="fieldWrapper">
					<div class="fieldLeft">
						Old Password
					</div>
					<div class="fieldRight">
						<input type="password" name="old_password" id="id_old_password" />
					</div>
				</div>

				<div class="fieldWrapper">
					<div class="fieldLeft">
						New Password
					</div>
					<div class="fieldRight">
						<input type="password" name="new_password1" id="id_new_password1" />
					</div>
				</div>

				<div class="fieldWrapper">
					<div class="fieldLeft">
						Verify Password
					</div>
					<div class="fieldRight">
						<input type="password" name="new_password2" id="id_new_password2" />
					</div>
				</div>
				<input type="submit" value="Update" />
				<input type="hidden" name="next" value="" />
			</form>
		</div>
	</div>
{% endblock %}
