{% extends 'base.html' %}

{% block reset %}

{% if validlink %}
<h2 class="title">Password Reset Request</h2>
<div class="table">
	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	<form action="" method="post">
		{% csrf_token %}
		<div class="fieldWrapper">
	      <span class="fieldLeft">{{ form.new_password1.errors }}<label for="id_new_password1">New Password:</label></span>
	      <span class="fieldRight">{{ form.new_password1 }}</span>
	    </div>
		<div class="fieldWrapper">
	      <span class="fieldLeft">{{ form.new_password2.errors }}<label for="id_new_password2">Verify Password:</label></span>
	      <span class="fieldRight">{{ form.new_password2 }}</span>
	    </div>
		<input type="submit" value="Update">
	</form>
	{% else %}
		<h2 class="title">Password reset unsuccessful</h2>
		<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
	{% endif %}
	<div class="endAct"></div>
</div>
{% endblock %}