<html>
<head>
	<title>Quiz Page</title>
</head>
<body>

<h2>Quiz List</h2>

{% for questions in question_list %}
	<br />{{ questions.question }} <!-- question is field in Question model-->
	{% for answers in questions.answer_set.all %}
		<form action="/{{ answer.id }}/submit/" method="post">
		<br /><input type="radio" name="question{{forloop.parentloop}}" id="answers{{forloop.counter}}" value="{{ answers.answer }}" />
		<label for="answer{{ forloop.counter }}">&nbsp; {{ answers.answer }} <!-- answer is field in Answer model--></label>
	{% endfor %}<br />
	<input type="submit" value="Submit" />
	</form>
	
{% endfor %}


</body>
</html>
