html, body {
	background: #A7A8A0;
	margin-top: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}

#container
{
	margin: 0 auto;
	width:  1030px;
	background: #fff;
	height: 100%;
}

#header
{
	position: relative;
	display: block;
	background-color: #B5111A; 
	height: 180px;
	padding: 10px;
}

#logoPlacer1 {
	float: left;
}


#logoPlacer2 {
	float: right;
}

#logoPlacerBottom {
	position: absolute;
	display: block;
	bottom: 3px;
	right: 10px;
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#content-container
{
	float: left;
	width: 100%;
	background: #CDCDC6;
}

#sidebar
{
	clear: left;
	float: left;
	width: 230px;
	padding: 10px;
}

#content
{
	float: right;
	width: 760px;
	padding: 10px;
	height: 100%;
	background: #FFFFFF;
	min-height: 400px;
}

#footer
{
	background-color: #BBBBBB;
	font-size: 12px;
	padding: 8px;
	height: 14px;
	clear: both;
	bottom: 0;
	width: 1014px;
}