
html {
	height: 100%;
	background: #A7A8A0;
	padding: 0px;
	margin: 0px;
}


body {
	height: 100%;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}


p {
	padding: 10px;
	line-height: 15px;
	margin: 0px;
}


h1 {
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1.logo {
	font-size: 36px;
	font-family: Cambria;
}


#logoPlacer1 {
	float: left;
}


#logoPlacer2 {
	float: right;
}

#logoPlacerBottom {
	position: absolute;
	display: block;
	bottom: 3px;
	right: 0px;
}

#container {
	min-height: 100%;
	width: 980px;	
	position: relative;
	margin: 0px auto -1px auto;
}


#header {
	position: relative;
	background-color: #B5111A; 
	margin-bottom: 0px;
	display: block;
	min-height: 200px;
}


#tabs{
	background-color: #CDCDC6;
	width: 190px;
	min-height: 600px;


}


#content{
	background-color: #FFFFFF;
	float: right;
	width: 780px;
	padding-left: 10px;
	min-height: 600px;	

}

#footer{
	position: absolute;
	height: 30px;
	width: 980px;
	margin-top: 0px;
	background-color: #BBBBBB;
}


