{% extends 'base.html' %}

{% block content %}

<h1> Messages for Topic {{ topic.topic_name }}</h1>

<table border=1>
{% for msg in messages %}
	<tr><td><b>Post # {{ forloop.counter }}</b></td></tr>
	<tr><td>Date: {{ msg.creation_date }}</td></tr>
	<tr><td>Name: {{ msg.user }}</td></tr>
	<tr><td>Message: {{ msg.message }}  </td></tr>

{% endfor %}
</table>

<br />
<form action ="" method="POST">
{% csrf_token %}
<br />Message: 
<br /><textarea row="4" col="120" name="message"></textarea>
<br /><input type="submit" value="Submit" />
<br />{% if error_message %} {{ error_message }} {% endif %}
</form>

{% endblock %}
