{% extends "student/index.html" %}

{% block content %}

<h2>Current Topics</h2>

<div class="table">
{% for topic in topics %}
	{% if topic.not_deleted %}
		<br /><a href="{{ classUrl }}forum/{{ topic.id }}/">{{ topic.topic_name }}</a>
		{% for msg in topic.messages_set.all %}
			{% if forloop.last %}
		<br />Recent post by <b>{{ msg.user }}</b> at {{ msg.creation_date }}
		{% if instAccess %}<br /><a href="{{ classUrl}}forum/{{ topic.id }}/delete/">Remove</a>{% endif %}
		<br />
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}</p>
</div>

<div class="table">
	<form action ="" method="POST">
	{% csrf_token %}
		<div class="sylWrapper">
			<div class="fieldLeft">Topic Title:</div>
			<div class="fieldRight"> <input type="text" name="title" /></div>
			<div class="fieldLeft">Message:</div>
			<div class="fieldRight"><textarea row="4" col="240" name="message"></textarea></div>
		</div>
			<div class="fieldRight">{% if error_message %} {{ error_message }} {% endif %}</div>
			<div class="submit"><input type="submit" value="Submit" /></div>
	</form>
</div>

{% endblock %}
