{% extends "instructor/index.html" %}
{% block head %}
	<link type="text/css" href="{{ STATIC_URL }}css/blitzer/jquery-ui-1.8.18.custom.css" rel="Stylesheet" /> 
	<link type="text/css" href="{{ STATIC_URL }}css/timepicker.css" rel="Stylesheet" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
		
{% endblock %}
{% block instructorcontent %}
	<script type="text/javascript">
		$(function() {
	    	$('#id_due_date').datetimepicker({
				dateFormat: "yy-mm-dd"
			});
		});
	</script>

	{% if update %}
		<h2 class="title">Activity Update Form</h2>
	{% else %}
		<h2 class="title">Activity Creation Form</h2>
	{% endif %}
	
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="table">
			{% for field in form %}
			<div class="fieldWrapper">
				<div class="fieldLeft">
					{{ field.label_tag }}: 
				</div>
				<div class="fieldRight">
					{{ field.errors }}
					{{ field }}
				</div>
			</div>
			{% endfor %}
			<div class="submit">
				{% if update %}
					<input type="submit" value="Update Activity">
				{% else %}
					<input type="submit" value="Create Activity">
				{% endif %}
			</div>
		</div>
	</form>
	
	<div class="bottomPosts">
		<h2 class="title">Current Activities</h2>
		{% for activity in activities %}
			<div class="table">
				<div class="actWrapper">
					<span class="actLeft">Activity Name: </span>
					<span class="actRight">{{ activity.activity_name }}</span>
				</div>
				<div class="actWrapper">
					<span class="actLeft">Out Of: </span>
					<span class="actRight">{{ activity.out_of }}</span>
				</div>
				<div class="actWrapper">
					<span class="actLeft">Worth: </span>
					<span class="actRight">{{ activity.worth }}%</span>
				</div>
				<div class="actWrapper">
					<span class="actLeft">Due Date: </span>
					<span class="actRight">{{ activity.due_date }}</span>
				</div>
				{% if activity.description %}
				<div class="actWrapper">
					<span class="actLeft">Description: </span>
					<span class="actRight">
						{{ activity.description|linebreaksbr }}
						{% if activity.description_doc %}
							<br />
							<a href="{{ MEDIA_URL }}{{ activity.description_doc }}">View Description</a>
						{% endif %}
					</span>
				</div>
				{% else %}
					{% if activity.description_doc %}
						<div class="actWrapper">
							<span class="actLeft">Description: </span>
							<span class="actRight">
									<a href="{{ MEDIA_URL }}{{ activity.description_doc }}">View Description</a>
							</span>
						</div>
					{% endif %}
				{% endif %}
				<div class="actWrapper">
					<span class="actLeft">Status: </span>
					<span class="actRight">
						{% if activity.status == 0 %}
							Not Marked
						{% else %}
							{% if activity.status == 1 %}
								Marked but not released
							{% else %}
								Marked and released
							{% endif %}
						{% endif %}
					</span>
				</div>
				<div class="actWrapper">
					<span class="actLeft">Actions: </span>
					<span class="actRight">
						<span class="postLinks">
							<button><a href="{{ activity.aid }}">Edit</a></button> 
							<button><a href="{{ activity.aid }}/remove">Remove</a></button> 
							<button><a href="{{ activity.aid }}/submissions">Download Submissions</a></button> 
						</span>
					</span>
				</div>
				<div class="endAct"></div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
