{% extends "instructor/index.html" %}
{% block head %}
	<link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" /> 
	<link type="text/css" href="{{ STATIC_URL }}css/timepicker.css" rel="Stylesheet" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
{% endblock %}
{% block instructorcontent %}
	<script type="text/javascript">
		$(function() {
	    	$('#id_due_date').datetimepicker({
				dateFormat: "yy-mm-dd"
			});
		});
	</script>
	{{ message }}
	{% if update %}
		<h2 class="title">Activity Update Form</h2>
	{% else %}
		<h2 class="title">Activity Creation Form</h2>
	{% endif %}
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="table">
			{% for field in form %}
			<div id="fieldWrapper">
				<div id="fieldLeft">
					{{ field.label_tag }}: 
				</div>
				<div id="fieldRight">
					{{ field.errors }}
					{{ field }}
				</div>
			</div>
			{% endfor %}
			<div id="submit">
				{% if update %}
					<input type="submit" value="Update Activity">
				{% else %}
					<input type="submit" value="Create Activity">
				{% endif %}
			</div>
		</div>
	</form>
	
	<div id="bottomPosts">
		<h2 class="title">Current Activities</h2>
		{% for activity in activities %}
			<div id="table">
				<div id="actWrapper">
					<div id="actLeft">Activity Name: </div>
					<div id="actRight">{{ activity.activity_name }}</div>
				</div>
				<div id="actWrapper">
					<div id="actLeft">Out Of: </div>
					<div id="actRight">{{ activity.out_of }}</div>
				</div>
				<div id="actWrapper">
					<div id="actLeft">Worth: </div>
					<div id="actRight">{{ activity.worth }}%</div>
				</div>
				<div id="actWrapper">
					<div id="actLeft">Due Date: </div>
					<div id="actRight">{{ activity.due_date }}</div>
				</div>
				{% if activity.description %}
				<div id="actWrapper">
					<div id="actLeft">Description: </div>
					<div id="actRight">
						{{ activity.description|linebreaksbr }}
						{% if activity.description_doc %}
							<br />
							<a href="{{ MEDIA_URL }}{{ activity.description_doc }}">View Description</a>
						{% endif %}
					</div>
				</div>
				{% else %}
					{% if activity.description_doc %}
						<div id="actWrapper">
							<div id="actLeft">Description: </div>
							<div id="actRight">
									<a href="{{ MEDIA_URL }}{{ activity.description_doc }}">View Description</a>
							</div>
						</div>
					{% endif %}
				{% endif %}
				<div id="actWrapper">
					<div id="actLeft">Status: </div>
					<div id="actRight">
						{% if activity.status == 0 %}
							Not Marked
						{% else %}
							{% if activity.status == 1 %}
								Marked but not released
							{% else %}
								Marked and released
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div id="actWrapper">
					<div id="actLeft">Actions: </div>
					<div id="actRight">
						<span class="postLinks">
							<a href="{{ activity.aid }}">Edit</a> 
							<a href="{{ activity.aid }}/remove">Remove</a>
						</span>
					</div>
				</div>
				<div id="endAct"></div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
