{% extends "instructor/index.html" %}
{% block instructorcontent %}
	<h2 class="title">Post An Announcement</h2>
	<form action="" method="POST">
		<div id="table">
		{% csrf_token %}
			{% for field in form %}
			<div id="fieldWrapper">
				<div id="fieldLeft">
					{{ field.label_tag }}: 
				</div>
					<div id="fieldRight">
						{{ field.errors }}
						{{ field }}
					</div>
			</div>
			{% endfor %}
			<div id="submit">
				<input type="submit" value="Submit">
			</div>
		</div>
	</form>
	<div id="bottomPosts">
		<h2 class="title">Past Announcements</h2>
		{% for announcement in announcements %}
			<div id="table">
				<div id="postTop">
					<strong>{{ announcement.title }}</strong> 
					<span class="postDate">({{ announcement.date_posted }}) </span>
					<span class="postLinks">
						<a href="{{ announcement.anid }}">Edit</a> <a href="{{ announcement.anid }}/remove">Remove</a>
					</span>
				</div>
				<div id="edit">
					{% if announcement.was_updated == 1 %}
						<span class="edit">
						Updated: {{ announcement.updated_on }} 
						{{ announcement.updated_by.user.first_name }} {{ announcement.updated_by.user.last_name }}
						</span>
					{% endif %}
				</div>
				<div id="postBottom">
					{{ announcement.content }}
				</div>
			</div>
		{% endfor %}
		</div> 
	</div>
{% endblock %}