{% extends "instructor/index.html" %}

{% block instructorcontent %}
	<h2 class="title">Post An Announcement</h2>
	<form action="" method="POST">
		<div class="table">
		{% csrf_token %}
			{% for field in form %}
			<div class="fieldWrapper">
				<div class="fieldLeft">
					{{ field.label_tag }} 
				</div>
					<div class="fieldRight">
						{{ field.errors }}
						{{ field }}
					</div>
			</div>
			{% endfor %}
			<div class="submit">
				<input type="submit" value="Submit">
			</div>
		</div>
	</form>
	<div class="bottomPosts">
		<h2 class="title">Past Announcements</h2>
		{% for announcement in announcements %}
			<div class="table">
				<div class="postTop">
					<strong>{{ announcement.title }}</strong> 
					<span class="postDate">(
					{% if flavour == "full" %}
						{{ announcement.date_posted }} 
					{% else %}
						{{ announcement.date_posted|date:"Y-m-d h:i" }} 
					{% endif %}
					{% if announcement.was_updated == 1 %}
						Updated on: 
						{% if flavour == "full" %}
							{{ announcement.updated_on }} 
						{% else %}
							{{ announcement.updated_on|date:"Y-m-d h:i" }}
						{% endif %}
						By: {{ announcement.updated_by.user.first_name }} {{ announcement.updated_by.user.last_name }}
					{% endif %}
					)
					</span>
					<span class="postLinks">
						<span class="linkButton"><a href="{{ announcement.anid }}">Edit</a></span> 
						<span class="linkButton"><a href="{{ announcement.anid }}/remove">Remove</a></span>
					</span>
				</div>
				<div class="postBottom">
					{{ announcement.content }}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}