<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fields.css" />
</head>
<body>
	<h3>New Announcement in {{ class.department }} {{ class.class_number }}</h3>
	<div id="table">
		<div id="postTop">
			<strong>{{ title }}</strong> 
			<span class="postDate">({{ date_posted }}) </span>
		</div>
		
		<div id="postBottom">
			{{ content }}
		</div>
	</div>
	<a href="http://localhost:8000/course/{{ class.department }}/{{ class.class_number }}/{{ class.year }}/{{ class.semester}}/{{ class.section}}/announcements/">
</body>
</html>