<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fields.css" />
</head>
<body>
	<h3>{{ activity.activity_name }} Grade Released in {{ class.department }} {{ class.class_number }}</h3>
	<strong>Activity Name:</strong> {{ activity.activity_name }}<br/>
	Click Here to <a href="http://localhost:8000/course/{{ class.department }}/{{ class.class_number }}/{{ class.year }}/{{ class.semester}}/{{ class.section}}/grades/{{ activity.aid }}/">View Grade</a>
</body>
</html>
