<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://cmpt470.csil.sfu.ca:8012/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="http://cmpt470.csil.sfu.ca:8012/static/css/fields.css" />
</head>
<body>
	<h3>{{ activity.activity_name }} Grade Released in {{ class.department }} {{ class.class_number }}</h3>
	<strong>Activity Name:</strong> {{ act_name }}<br/>
	Click Here to <a href="http://cmpt470.csil.sfu.ca:8012/course/{{ class.department }}/{{ class.class_number }}/{{ class.year }}/{{ class.semester}}/{{ class.section}}/grades/{{ act_aid }}/">View Grade</a>
</body>
</html>
