{% extends "instructor/index.html" %}

{% block head %}
	<script type="text/javascript">
		function closeMessage(){
			document.getElementById("updateSuccess").style.display="none";
		}
	
		window.setTimeout( closeMessage, 5000 );
	</script>
{% endblock %}

{% block instructorcontent %}
    <h2 class="title">Input Student Grades</h2>
    {% if message %}
		<div id="updateSuccess">
			<h4 class="success">Upload Successfully</h4>
			<p class="success">{{ message }}</p>
		</div>
	{% endif %}
    <div class="table">
    <h3 class="title">Download Grades Excel File:</h3>
    <form action="" method="POST">
		{% csrf_token %}
		{% for field in form_down %}
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				{{ field.label_tag }}:
			</span>
			<span class="fieldSylRight">
					{{ field.errors }}
					{{ field }}
			</span>
		</div>
		{% endfor %}
		<div class="submit">
    		<input type="submit" name="download" value="Download Grades" />
    	</div>
    </form>
    </div>
    
    <div class="table">
    <h3 class="title">Upload Grades Excel File:</h3>
    <form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form_up %}
		<div class="fieldWrapper">
			<span class="fieldSylLeft">
				{{ field.label_tag }}:
			</span>
			<span class="fieldSylRight">
					{{ field.errors }}
					{{ field }}
			</span>
		</div>
		{% endfor %}
		<div class="submit">
    		<input type="submit" name="upload" value="Upload Grades" />
    	</div>
    </form>
    </div>
    

{% endblock %}
