{% extends "instructor/index.html" %}

{% block head %}
	<script type="text/javascript">
		function closeMessage(){
			document.getElementById("updateSuccess").style.display="none";
		}
	
		window.setTimeout( closeMessage, 5000 );
	</script>
{% endblock %}

{% block instructorcontent %}
	<h2 class="title">Update Greeting</h2>
	{% if message %}
		<div id="updateSuccess">
			<h4 class="success">Updated Successfully</h4>
			<p class="success">{{ message }}</p>
		</div>
	{% endif %}
	<form action="" method="POST">
		<div class="table">
		{% csrf_token %}
			{% for field in form %}
			<div class="fieldWrapper">
				<div class="fieldSylLeft">
					{{ field.label_tag }}: 
				</div>
					<div class="fieldSylRight">
						{{ field.errors }}
						{{ field }}
					</div>
			</div>
			{% endfor %}
			<div class="submit">
				<input type="submit" value="Submit">
			</div>
		</div>
	</form>
{% endblock %}