{% extends "instructor/index.html" %}
{% block instructorcontent %}
{% load instructor_extras %}
    <h2 class="title">Input Student Grades</h2>
    {% if form %}
    	<div class="table">
		<h3 class="title">Generate Grade Form:</h3>
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
			<div class="fieldWrapper">
				<span class="fieldSylLeft">
					{{ field.label_tag }}:
				</span>
				<span class="fieldSylRight">
						{{ field.errors }}
						{{ field }}
				</span>
			</div>
			{% endfor %}
			<div class="submit">
	    		<input type="submit" name="generate_form" value="Generate Grade Form" />
	    	</div>
		</form>
		</div>
    
    {% else %}
    	<div class="table">
    	<p class="message"><strong>{{ message }}</strong></p>
    	<form action="{{ classUrl }}instructor/grades/form/" method="POST">
			{% csrf_token %}
        	<p><input type="submit" name="back" value="Back" /></p>
    	</form>
    	</div>
    {% endif %}
    
    {% if activity %}
		<h2 class="title">Activity: {{ activity.activity_name }}</h2>
    	<div class="table">
		<table border=0 class="addGrades">
			<tr>
				{% if flavour == "full" %}
					<td width=150>
						<strong>Last Name</strong>
					</td>
					<td width=200>
						<strong>First Name</strong>
					</td>
					<td width=175>
						<strong>SFU ID</strong>
					</td>

					<td width=175>
						<strong>Mark</strong>
					</td>
				{% else %}
					<td width=225>
						<strong>L Name</strong>
					</td>
					<td width=225>
						<strong>F Name</strong>
					</td>
					<td width=225>
						<strong>SFU ID</strong>
					</td>
					<td width=150>
						<strong>Mark</strong>
					</td>
				{% endif %}

			</tr>
		
			<form action="{{ activity.aid }}" method="POST">
			{% csrf_token %}
				{% for student in students %}
					<tr>
						<td>
							{{ student.user.last_name }}
						</td>
						<td>
							{{ student.user.first_name }}
						</td>
						<td>
							{{ student.sfu_id }}
						</td>
						<td>
							<div class="gradeMark">
								{% if student.sfu_id in existing_marks %}
									{% if flavour == "full" %}
										<input type="text" size="4" name="{{ student.sfu_id }}" value="{{ existing_marks|get_key_value:student.sfu_id }}" /> 
										/ {{ activity.out_of }}
									{% else %}
										<input type="text" size="4" name="{{ student.sfu_id }}" value="{{ existing_marks|get_key_value:student.sfu_id }}" />
									{% endif %}
								{% else %}
									{% if flavour == "full" %}
										<input type="text" size="4" name="{{ student.sfu_id }}" /> 
										/ {{ activity.out_of }}
									{% else %}
											<input type="text" size="4" name="{{ student.sfu_id }}" />
									{% endif %}
								{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
				<tr>
					{% if flavour == "full" %}
						<td></td><td></td><td></td>
					{% else %}
						<td></td><td></td><td></td>
					{% endif %}
					<td><input type="submit" name="update" value="Update Grades" /></td>
				</tr>
			</form>
		</table>
		</div>
	{% endif %}
    
{% endblock %}
