{% extends "instructor/index.html" %}

{% block instructorcontent %}
	<h2 class="title">{{ quiz.name }} - Question Generation</h2>
	<p class="linkButton"><a href="{{ classUrl }}instructor/quiz/create/">Back to Quiz</a></p>
	<div class="table">
		<form action="" method="post">
			{% csrf_token %}
			{{ formset.management_form }}
		    {% for form in formset %}
				<table class="quizQ">
		       		{{ form.as_table }}
				</table>
				<br>
		    {% endfor %}
			<input type="submit" value="Add Question">
		</form>
	</div>
{% endblock %}