{% extends "instructor/index.html" %}
{% block instructorcontent %}
	<h2 class="title">Class Roster</h2>
	<div class="table">
		{% if instructor.count > 1 %}
			<h3 class="title">Instructors</h3>
		{% else %}
			<h3 class="title">Instructor</h3>
		{% endif %}

		{% for instructor in instructors %}
			<div class="rosterWrapper">
				<span class="rosterLeft">
					Name:
				</span>
				<span class="rosterRight">
					 {{ instructor.user.first_name }} {{ instructor.user.last_name}}
				</span>
			</div>
			<div class="rosterWrapper">
				<span class="rosterLeft">
					Email:
				</span>
				<span class="rosteRight">
					 {{ instructor.user.email }}
				</span>
			</div>
			<div class="endAct"></div>
			{% if not forloop.last %}
				<br />
			{% endif %}
		{% endfor %}
	</div>
	<div class="table">
		{% if tas.count > 1 %}
			<h3 class="title">Teaching Assistants</h3>
		{% else %}
			<h3 class="title">Teaching Assistant</h3>
		{% endif %}
		{% for ta in tas %}
			<div class="rosterWrapper">
				<span class="rosterLeft">
					Name:
				</span>
				<span class="rosterRight">
					 {{ ta.user.first_name }} {{ ta.user.last_name}}
				</span>
			</div>
			<div class="rosterWrapper">
				<span class="rosterLeft">
					Email:
				</span>
				<span class="rosteRight">
					 {{ ta.user.email }}
				</span>
			</div>
			<div class="endAct"></div>
			{% if not forloop.last %}
				<br />
			{% endif %}
		{% endfor %}
	</div>
	<div class="table">
		<h3 class="title">Students</h3>
		{% for student in students %}
			<div class="rosterWrapper">
				<span class="rosterLeft">
					Name:
				</span>
				<span class="rosterRight">
					 {{ student.user.first_name }} {{ student.user.last_name}}
				</span>
			</div>
			<div class="rosterWrapper">
				<span class="rosterLeft">
					Email:
				</span>
				<span class="rosteRight">
					 {{ student.user.email }}
				</span>
			</div>
			<div class="endAct"></div>
			{% if not forloop.last %}
				<br />
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}