{% extends "instructor/index.html" %}
{% block instructorcontent %}
	<h2>Upload Lecture Slides</h2>
	<form action="" method="POST" enctype="multipart/form-data">
		<div id="table">
		{% csrf_token %}
			{% for field in form %}
			<div id="fieldWrapper">
				<div id="fieldSylLeft">
					{{ field.label_tag }}: 
				</div>
					<div id="fieldSylRight">
						{{ field.errors }}
						{{ field }}
					</div>
			</div>
			{% endfor %}
			<div id="submit">
				<input type="submit" value="Submit">
			</div>
		</div>
	</form>
	
	<div id="bottomPosts">
		<h2 class="title">Lecture Slides</h2>
		{% for slide in slides %}
			<div id="table">
				<div id="actWrapper">
					<div id="actLeft">{{ slide.title }}</div>
					<div id="actRight">
						<a href="{{ STATIC_URL }}{{ slide.file_path }}">View</a> | 
						<a href="{{ classUrl }}instructor/slides/{{ slide.id }}/update">Update</a> | 
						<a href="{{ classUrl }}instructor/slides/{{ slide.id }}/remove">Remove</a></div>
				</div>
				<div id="endAct"></div>
			</div>
		{% endfor %}
	</div>
{% endblock %}