{% extends "instructor/index.html" %}
{% block instructorcontent %}
	<form action="" method="POST">
		{% csrf_token %}
		<label for="instructor">Instructor:</label>
		<input type="text" name="instructor" value="">
		<label for="office">Office Location:</label>
		<input type="text" name="office" value="">
		<label for="phone">Phone Number:</label>
		<input type="text" name="phone" value="">
		<label for="email">Email:</label>
		<input type="text" name="email" value="">
		<label for="instructor">Instructor:</label>
		<input type="text" name="instructor" value="">
	</form>
{% endblock %}