{% extends "student/index.html" %}
{% block student %}
	<div id="bottomPosts">
		<h2 class="title">View Grades</h2>
		{% if activities.count > 0 %}
			<div id="table">
				<table border=0>
					<tr>
						<td width=175>
							<strong>Activity Name </strong>
						</td>
						<td width=225>
							<strong>Due Date</strong>
						</td>
						<td width=175>
							<strong>Status</strong>
						</td>
						<td>
							<strong>Grade</strong>
						</td>
					</tr>
				{% for activity in activities %}
						<tr>
							<td>
								<a href="{{ activity.aid }}">{{ activity.activity_name }}</a>
							</td>
							<td>
								{{ activity.due_date }}
							</td>
							<td>
								{% if activity.status == 2 %}
									Grades are released
								{% else %}
									Grades not yet released
								{% endif %}
							</td>
							<td>
								{% if activity.status == 2 %}
									{{ activity.mark }}/{{ activity.out_of }}
								{% else %}
									N/A
								{% endif %}
							</td>
						</tr>
				{% endfor %}
				</table>
			</div>
			<div id="table">
				<h2 class="title">Current Progress:</h2>
					<p>
						{{ total.value|floatformat:2 }}/{{ total.out_of|floatformat:2 }} ({{ total.percent|floatformat:2 }}%)</p><p>
						<a href="calculator">Grade Calculator</a>
					</p>
			</div>
		{% else %}
			<div id="table">
				<p>There are no assignments posted.</p>
			</div>
		{% endif %}
	</div>
{% endblock %}