{% extends "student/index.html" %}

{% block head %}
	<script type="text/javascript">
		$(document).ready(function() {
		    $("#progressbar").progressbar({ value: {{ total.value|floatformat:2 }} });
		});
	</script>
{% endblock %}

{% block student %}
	<h2 class="title">View Grades</h2>
	{% if activities.count > 0 %}
		<div class="table">
			<div class="grades">
				<table>
					<tr>
						{% if flavour == "full" %}
							<td>
								<strong>Activity Name </strong>
							</td>
							<td>
								<strong>Due Date</strong>
							</td>
							<td>
								<strong>Status</strong>
							</td>
							<td>
								<strong>Grade</strong>
							</td>
						{% else %}
							<td>
								<strong>Name</strong>
							</td>
							<td>
								<strong>Due Date</strong>
							</td>
							<td>
								<strong>Status</strong>
							</td>
						{% endif %}
					</tr>
				{% for activity in activities %}
						<tr>
							<td>
								<a href="{{ activity.aid }}">{{ activity.activity_name }}</a>
							</td>
							<td>
								{% if flavour == "mobile" %}
									{{ activity.due_date|date:'Y-m-d' }}
								{% else %}
									{{ activity.due_date }}
								{% endif %}
							</td>
							<td>
								{% if flavour == "mobile" %}
									{% if activity.status == 2 %}
										Released
									{% else %}
										Not Released
									{% endif %}
								{% else %}
									{% if activity.status == 2 %}
										Grades Released
									{% else %}
										Grades not yet released
									{% endif %}
								{% endif %}
							</td>
							{% if flavour == "full" %}
								<td>
									{% if activity.status == 2 %}
										{{ activity.mark }}/{{ activity.out_of }}
									{% else %}
										N/A
									{% endif %}
								</td>
							{% endif %}
						</tr>
				{% endfor %}
				</table>
			</div>
		</div>
		<h2 class="title">Current Progress</h2>
		<div class="table">
				<div id="progressbar" style="width: 90%; float:left; margin-top: 10px"></div>
				<div class="progress">{{ total.value|floatformat:2 }}%</div>
				<p class="completed"><span class="linkButton"><a href="calculator">Grade Calculator</a></span></p>
				<div class="endAct"></div>
		</div>
	{% else %}
		<div class="table">
			<p>There are no assignments posted.</p>
		</div>
	{% endif %}
{% endblock %}